<p-dialog header="Recuperar senha"
          [modal]="true"
          [draggable]="false"
          [(visible)]="visible"
          [closable]="true">
    <div>
        <form [formGroup]="fg">
            <div class="flex flex-column gap-2">
                <label for="email">E-mail</label>
                <input formControlName="email"
                       pInputText
                       placeholder="exemplo@sgs.com"
                       id="email" />
            </div>

            <p-button styleClass="w-full mt-3"
                      label="Enviar"
                      icon="pi pi-check"
                      [loading]="loading()"
                      (onClick)="resetPassword()" />
        </form>
    </div>
</p-dialog>
