.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-image {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    form {
        width: 100%;
    }

}