<div class="card flex flex-column p-3">
    <div class="flex justify-content-between align-items-center">
        <h3>Serviços</h3>
        <span>
            <p-button 
                label="Novo agendamento" 
                icon="pi pi-plus" 
                iconPos="right"
                size="small"/>
        </span>
    </div>
    <p-table 
        [value]="products" 
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Avaliação</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <td>
                    {{product.description}}
                </td>
                <td>
                    {{product.price | currencyFormat}}
                </td>
                <td>
                    <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
                </td>
                <td>
                    <p-rating 
                        [stars]="5" 
                        [readonly]="true" 
                        [cancel]="false" />
                </td>
                <td>
                    Ações
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>