<div class="reset-password">
    <div class="reset-password__half reset-password__half--left">
        <div class="text__content">
            <h2>Redefinir Senha</h2>
            <p>Preencha os campos para redefinir sua senha.</p>
        </div>
    </div>
    <div class="reset-password__half reset-password__half--right">
        <div class="reset-password__content">
            <form [formGroup]="fg" class="reset-password__form">
                <p-floatLabel>
                    <p-password formControlName="password"
                                [toggleMask]="true"
                                feedback="false"></p-password>
                    <label for="password">Senha</label>
                </p-floatLabel>
                <div *ngIf="fg.get('password')?.touched && fg.get('password')?.invalid" class="error-message">
                    <small *ngIf="fg.get('password')?.errors?.['required']">
                        A senha é obrigatória.
                    </small>
                </div>

                <p-floatLabel>
                    <p-password formControlName="confirmPassword"
                                [toggleMask]="true"
                                feedback="false"></p-password>
                    <label for="confirmPassword">Confirme a senha</label>
                </p-floatLabel>
                <div *ngIf="fg.get('confirmPassword')?.touched && fg.get('confirmPassword')?.invalid" class="error-message">
                    <small *ngIf="fg.get('confirmPassword')?.errors?.['required']">
                        A confirmação de senha é obrigatória.
                    </small>
                </div>
                <div *ngIf="passwordMismatchError" class="error-message">
                    <small>As senhas não coincidem.</small>
                </div>

                <p-button label="Atualizar senha"
                          icon="pi pi-check"
                          [loading]="loading()"
                          [disabled]="fg.invalid || !token"
                          (onClick)="resetPassword()"></p-button>

                <div *ngIf="!token" class="error-message">
                    <small>Token de redefinição inválido ou ausente. Por favor, verifique o link.</small>
                </div>
            </form>
        </div>
    </div>
</div>
