<div class="reset-password">
    <div class="reset-password__half reset-password__half--left">
        <div class="reset-password__content">

        </div>
    </div>
    <div class="reset-password__half reset-password__half--right">
        <div class="reset-password__content">
            <form [formGroup]="fg"
                  class="reset-password__form">
                <p-floatLabel>
                    <p-password formControlName="password"
                                [toggleMask]="true"
                                feedback="false" />
                    <label for="password">Senha</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-password formControlName="confirmPassword"
                                [toggleMask]="true"
                                feedback="false" />
                    <label for="confirmPassword">Confirme a senha</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-password formControlName="token"
                                [toggleMask]="true"
                                feedback="false" />
                    <label for="token">Token</label>
                </p-floatLabel>

                <p-button label="Atualizar senha"
                          icon="pi pi-check"
                          [loading]="loading()"
                          (onClick)="resetPassword()" />
            </form>
        </div>
    </div>
</div>
