<p-dialog 
    header="Serviço" 
    [modal]="true" 
    draggable="false"
    [(visible)]="visible">
    <div class="service-wrapper">
        <form [formGroup]="serviceFg" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
        
                <!-- Campo Nome -->
                <div class="p-field">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" pInputText formControlName="nome" placeholder="Nome">
                    <small *ngIf="serviceFg.get('nome').invalid && serviceFg.get('nome').touched" class="p-error">
                        Nome é obrigatório.
                    </small>
                </div>
        
                <!-- Campo Descrição -->
                <div class="p-field">
                    <label for="descricao">Descrição</label>
                    <textarea id="descricao" pInputTextarea formControlName="descricao" placeholder="Descrição"></textarea>
                    <small *ngIf="serviceFg.get('descricao').invalid && serviceFg.get('descricao').touched"
                        class="p-error">
                        Descrição é obrigatória.
                    </small>
                </div>
        
                <!-- Campo Valor (Reais) -->
                <div class="p-field">
                    <label for="valor">Valor (R$)</label>
                    <p-inputNumber id="valor" formControlName="valor" mode="currency" currency="BRL"
                        locale="pt-BR"></p-inputNumber>
                    <small *ngIf="serviceFg.get('valor').invalid && serviceFg.get('valor').touched" class="p-error">
                        Valor é obrigatório e deve ser maior ou igual a 0.
                    </small>
                </div>
        
                <!-- Campo Duração (Minutos) -->
                <div class="p-field">
                    <label for="duracao">Duração (Minutos)</label>
                    <p-inputNumber id="duracao" formControlName="duracao" [min]="1"></p-inputNumber>
                    <small *ngIf="serviceFg.get('duracao').invalid && serviceFg.get('duracao').touched" class="p-error">
                        Duração é obrigatória e deve ser no mínimo 1 minuto.
                    </small>
                </div>
        
                <!-- Botão de Envio -->
                <div class="p-field">
                    <button type="submit" pButton label="Cadastrar" [disabled]="serviceFg.invalid"></button>
                </div>
        
            </div>
        </form>
    </div>
</p-dialog>