.service-wrapper {
    width: 700px;
    min-height: 300px;

    &__form-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 24px;
        width: 100%;

        p-inputnumber {
            ::ng-deep {
                .p-inputnumber-input {
                    width: 250px;
                }
            }
        }
    }
}
