<p-dialog header="Serviço"
          [modal]="true"
          draggable="false"
          [(visible)]="visible">
    <div class="service-wrapper">
        <form [formGroup]="serviceFg"
              (ngSubmit)="onSubmit()">
            <div class="service-wrapper__form-container">
                <div class="flex flex-column gap-1">
                    <label for="name">Nome</label>
                    <input id="name"
                           pInputText
                           formControlName="name"
                           placeholder="Nome">
                    <small *ngIf="serviceFg.controls.name?.invalid && serviceFg.controls.name?.touched"
                           class="text-red-500 text-xs">
                        Nome é obrigatório.
                    </small>
                </div>

                <div class="flex flex-column gap-1">
                    <label for="description">Descrição</label>
                    <input id="description"
                           pInputText
                           formControlName="description"
                           placeholder="Breve descrição do serviço.">
                    <small *ngIf="serviceFg.controls.description?.invalid && serviceFg.controls.description?.touched"
                           class="text-red-500 text-xs">
                        Descrição é obrigatório.
                    </small>
                </div>

                <div class="flex gap-4 align-items-center justify-content-between">
                    <div class="flex flex-column gap-1">
                        <label for="cost">Valor (R$)</label>
                        <p-inputNumber id="cost"
                                       formControlName="cost"
                                       mode="currency"
                                       currency="BRL"
                                       placeholder="0,00"
                                       locale="pt-BR">
                        </p-inputNumber>
                        <small *ngIf="serviceFg.controls.cost?.invalid && serviceFg.controls.cost?.touched"
                               class="text-red-500 text-xs">
                            Valor é obrigatório e deve ser maior ou igual a 0.
                        </small>
                    </div>

                    <div class="flex flex-column gap-1">
                        <label for="duration"
                               class="text-sm font-medium">Duração (Minutos)</label>
                        <p-inputNumber id="duration"
                                       formControlName="duration"
                                       [min]="1">
                        </p-inputNumber>
                        <small *ngIf="serviceFg.controls.duration?.invalid && serviceFg.controls.duration?.touched"
                               class="text-red-500 text-xs">
                            Duração é obrigatória e deve ser no mínimo 1 minuto.
                        </small>
                    </div>

                    <div class="pt-3">
                        <p-button label="{{ isEdit() ? 'Salvar' : 'Cadastrar' }}"
                                  icon="pi pi-check"
                                  iconPos="right"
                                  [loading]="loading()"
                                  [disabled]="serviceFg.invalid"
                                  type="submit" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
