<p-dialog header="Agendamento"
          [modal]="true"
          draggable="false"
          [(visible)]="visible">
    <div class="appointment-wrapper">
        <form [formGroup]="appointmentFg">
            <div class="appointment-wrapper__dropdowns-container">
                <div>
                    <label for="service">Serviço</label>
                    <p-dropdown class="p-dropdown-service"
                                [options]="servicesDropdownOptions()"
                                formControlName="serviceId"
                                optionLabel="label"
                                [filter]="true"
                                filterBy="label"
                                appendTo="body"
                                [showClear]="true"
                                emptyFilterMessage="Nenhum encontrado"
                                emptyMessage="Digite para pesquisar..."
                                placeholder="Selecione um serviço">
                    </p-dropdown>
                    <small *ngIf="appointmentFg.controls.serviceId?.invalid && appointmentFg.controls.serviceId?.touched"
                           class="text-red-500 text-xs">
                        Campo Serviço é obrigatório.
                    </small>
                </div>
                <div>
                    <label for="client">Cliente</label>
                    <p-dropdown class="p-dropdown-client"
                                [options]="clientDropdownOptions()"
                                formControlName="clientId"
                                optionLabel="label"
                                [filter]="true"
                                filterBy="label"
                                appendTo="body"
                                [showClear]="true"
                                emptyFilterMessage="Nenhum encontrado"
                                emptyMessage="Digite para pesquisar..."
                                placeholder="Selecione um Cliente">
                                <ng-template let-client
                                             pTemplate="item">
                                    <div class="flex flex-column">
                                        <span>
                                            {{ client.label | titlecase }} &nbsp;
                                        </span>
                                        <ng-container *ngIf="client.complement">
                                            <span class="text-xs">
                                                {{ client.complement }};
                                            </span>
                                        </ng-container>
                                    </div>
                                </ng-template>
                    </p-dropdown>
                    <small *ngIf="appointmentFg.controls.clientId?.invalid && appointmentFg.controls.clientId?.touched"
                           class="text-red-500 text-xs">
                        Campo Cliente é obrigatório.
                    </small>
                </div>
                <div>
                    <label for="provider">Prestador</label>
                    <p-dropdown class="p-dropdown-provider"
                                [options]="providerDropdownOptions()"
                                formControlName="providerId"
                                optionLabel="label"
                                [filter]="true"
                                filterBy="label"
                                appendTo="body"
                                [showClear]="true"
                                emptyFilterMessage="Nenhum encontrado"
                                emptyMessage="Digite para pesquisar..."
                                placeholder="Selecione um Prestador">
                                <ng-template let-provider
                                             pTemplate="item">
                                    <div class="flex flex-column">
                                        <span>
                                            {{ provider.label | titlecase }} &nbsp;
                                        </span>
                                        <ng-container *ngIf="provider.complement">
                                            <span class="text-xs">
                                                {{ provider.complement }};
                                            </span>
                                        </ng-container>
                                    </div>
                                </ng-template>
                    </p-dropdown>
                    <small *ngIf="appointmentFg.controls.providerId?.invalid && appointmentFg.controls.providerId?.touched"
                           class="text-red-500 text-xs">
                        Campo Prestador é obrigatório.
                    </small>
                </div>
            </div>
            <div class="flex flex-column">
                <label for="appointmentDate">Data do agendamento</label>
                <p-calendar formControlName="appointmentDate" />
                <small *ngIf="appointmentFg.controls.appointmentDate?.invalid && appointmentFg.controls.appointmentDate?.touched"
                       class="text-red-500 text-xs">
                    Campo Data é obrigatória.
                </small>
            </div>
            <div class="flex flex-column gap-1">
                <label for="observation">Observações</label>
                <input id="observation"
                       pInputText
                       formControlName="observation"
                       placeholder="Observações">
            </div>
        </form>
    </div>
</p-dialog>
