.wrapper {
    img {
        border-radius: 50%;
        width: 52px;
        height: 52px;
    }

    .sidebar-menu-button {
        i {
            font-size: 20px;
        }

        :hover {
            cursor: pointer;
        }
    }
}