<div class="w-full bg-primary flex h-3rem justify-content-between align-items-center p-3">
    <div>
        <sgs-sidebar></sgs-sidebar>
    </div>
    <div class="flex justify-content-between align-items-center w-5rem">
        <div>
            <i class="icon-spin pi pi-cog"></i>
        </div>
        <div 
            class="flex justify-content-between align-items-center"
            (click)="showDialog()">
            <p-avatar 
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                shape="circle" />
        </div>
    </div>
</div>