<div class="login">
    <div class="login__half login__half--left">
        <div class="login__content">

        </div>
    </div>
    <div class="login__half login__half--right">
        <div class="login__content">
            <form [formGroup]="loginFg"
                  class="login__form">
                <p-floatLabel>
                    <input formControlName="email"
                           pInputText
                           id="email" />
                    <label for="email">Usuário</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-password formControlName="password"
                                [toggleMask]="true"
                                feedback="false"/>
                    <label for="password">Senha</label>
                </p-floatLabel>

                <p-button
                    label="Acessar"
                    icon="pi pi-check"
                    [loading]="loading()"
                    (onClick)="doUserLogin()" />
            </form>
            <span class="mt-4 text-sm cursor-pointer text-blue-600">
                Esqueceu sua senha ? <span (click)="openResetPasswordModal()">Clique aqui!</span>
            </span>
        </div>
    </div>
</div>

<sgs-reset-password-modal #resetPasswordModal></sgs-reset-password-modal>
